.sign-in-container {
    display: flex;
    flex-direction: column;
    width: 380px;

    h2 {
        margin: 10px 0;
    }
    a {
        text-decoration: underline;
        color: #0000ff;
    }
  
}